        
<div class="footer">
   <div class="wrap">
         
                <ul>
                   <li><a href="<?php echo ABOUT ?>">公司介绍</a></li>
                   <?php foreach($resultc as $key =>$value) { ?>
                   <li><a href="###"><?php echo $value['cate_name']?></a></li>
                   <?php } ?>
                   <!-- <li><a href="###">企业文化</a></li>
                   <li><a href="###">发展历程</a></li>
                   <li><a href="###">经营理念</a></li> -->
                </ul><!--导航栏结束-->
        
       <span>
       <?php echo $resultd['copyright'] ?>
       </span> 
           
       </div><!--/*外套结束*/-->
       </div>

</body>
</html>

